<form action="/display" method="post">
  <label for="description">Hero name</label>
  <input id="heroname" name="heroname" type="text">
  <select>
    <option>one<option>
    <option>two<option>
    <option>three<option>
  </select><br>
  <button type="submit" class="btn btn-info">Add Hero</button>
</form>