<center>
    <h1 class="title">Hero Squad</h1>
</center>
<div class="container">
       <a href='/form'><button id="hero" class="btn btn-info">Add heroes</button></a><br>
        <a href='/display'><button id="heroes"  class="btn btn-info">Check my heroes</button></a>
</div>
</div>