       <!DOCTYPE html>
       <html>
         <head>
           <title>Hero Squad</title>
           <link rel="icon" href="https://cdn1.iconfinder.com/data/icons/social-messaging-ui-color-shapes/128/eat-circle-orange-512.png">
           <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
           <link rel='stylesheet' href='/app.css'>
         </head>
         <body>
           <div class="container">
             #parse( $template )
           </div>
         </body>
       </html>